/node_modules
.node_modules
.node_modules/
node_modules
.env
/.nuxt
.nuxt
.nuxt/

# Ignorar arquivos de ambiente adicionais
.env
# Ignorar arquivos de build
dist/
# Outros arquivos comuns
.DS_Store
*.log
