#__nuxt {
    overflow-x: hidden;
}

html {
    padding: 0;
    border: 0;
    box-sizing: border-box;

    ::-webkit-scrollbar {
        display: none;
    }
    
    .scroll-container {
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
    }
}

.pointer {
    cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.v-text-field input, .v-field, .color-default {
    font-weight: bold;
    color: #C0812D !important;
}
.v-input--error .v-input__append-inner .v-icon {
    color: #eeff00 !important; 
}

.v-input--error .v-messages__message {
    color: #eeff00 !important;
}
.v-field--error .v-label {
    color:  #eeff00  !important;
}
.v-text-field.v-input--error .v-field--error .v-field__outline {
    --v-field-border-opacity: 1;
    color: #eeff00 !important;
}