#__nuxt {
    overflow-x: hidden;
}

html {
    padding: 0;
    border: 0;
    box-sizing: border-box;

    ::-webkit-scrollbar {
        display: none;
    }
    
    .scroll-container {
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
    }
}

.pointer {
    cursor: pointer;
}